/* Text colors */
.text-color-light {
    color: #F9FAF8;
}

.text-color-mid {
    color: #E5E7EB;
}

.text-color-dark {
    color: #1F2937;
}

/* Background colors */
.light-background {
    background-color: #F9FAF8;
}

.mid-background {
    background-color: #E5E7EB;
}

.dark-background {
    background-color: #1F2937;
}

.blue-background {
    background-color: #3882F6;
}

/* Body and Button */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 96px;
    padding: 6px;
    border-radius: 8px;
}

/* Header Styling */

.header {
    display: flex;
    flex-direction: column;
    height: auto;
}

/* navigation bar */
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 16px;
    width: 100%;
    position: fixed;
}

.logo {
    font-size: 24px;
    padding: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 8px;
    padding: 16px;
}

a {
    text-decoration: none;
}

/* header body */
.header-content {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex: 0 0 auto;
    padding: 48px;
    padding-top: 130px;
}

.header-container {
    width: 424px;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 8px;
}

.content-title {
    font-size: 48px;
    font-weight: 900;
    width: 300px;
}

.content-text {
    font-size: 24px;
}

.image-container {
    width: 284px;
    height: 250px;
    border: 2px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Info Panel Styling */
.info-panel {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 16px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
}

.info-pane {
    display: column;
    flex: 1 1 100px;
    width: 150px;
    margin: 32px;
}

.info-image {
    border: 2px solid #1F2937;
    border-radius: 8px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding: 50px;
}

.info-pane-text {
    text-align: center;
    margin: 16px;
}

/* Quote Panel Styling */
.quote-panel {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
}

.quote-body {
    padding: 16px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    width: 650px;
    align-self: center;
    text-align: center;
}

.quote-attrib {
    color: #1F2937;
    width: 650px;
    align-self: center;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

/* Action Panel Styling */
.action-panel {
    height: auto;
    padding: 64px;
    display: flex;
    justify-content: center;
}

.action-container {
    width:fit-content;
    border-radius: 8px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    width: 856px;
}

.action-info {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 16px;
    gap: 8px;
}

.action-title {
    font-size: 24px;
    font-weight: 500;
}

.action-text {
    font-size: 16px;
    font-weight: 300;
}

.action-button {
    height: fit-content;
    border: 2px solid #F9FAF8;
}

/* Footer Styling */
.footer {
    height: auto;
    padding: 16px;
    text-align: center;
}